*{
  outline: none;
}
body {
    background-color: #CAEBF2;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #111111;
}

main {
  width: 70%;
}

header {
  height: 3rem;
  background-color: #EFEFEF;
  width: 100%;

}

label {
  font-size: 1.2rem;

}

.email {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
}
.email > * {
  display: block;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #07889B;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  width: 70%;
}

button {
  background-color: transparent;
  border-radius: 24px;
  padding: 1rem;
  font-size: 1rem;
  min-width: 9rem;
  border: 1px solid #07889B;
  margin-top: 1rem;
}

.email.invalid {
  background-color: #FC4A1A;
  color: white;
}

.email span {
  display: none;
}

.email.invalid span {
  display: block;
}

#circle-email {
  margin-top: 1rem;
}

.circle-email-list {
  width: -moz-fit-content;
}

.circle-email-list label {
  display: block;
}

.circle-email-list input {
  float: left;
  display: block;
}

.circle-email-list > div {
  display: inline-block;
  float: left;
}

#circle-email > div > div {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  margin: 0.2rem 0.5rem;
  border-radius: 3px;
}

.validBox {
  border: 1px solid #c7c7c7;
}

.invalidBox {
  border: 2px solid #FC4A1A;
}

.close {
  position: relative;
  margin-right: -28px;
  margin-top: -11px;
  background-color: black;
  color: white;
  width: 20px;
  line-height: 20px;
  float: right;
  text-align: center;
  cursor: pointer;
  border: none;
  }

.close span {
  visibility: hidden;
}

.close::before {
  content: 'x';
}

#proposal input::placeholder {
  color: #111111;
} 

#proposal .separator{
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
