*{
  box-sizing: border-box;
  outline: none;
}
:root{
  --error-color: #FC4A1A;
  --success-color: #A9A9A9;
  --warning-color: rgb(238, 227, 105);
  --bg-color: #CAEBF2;
  --main-color: #07889B;
  --header-color: #EFEFEF;
  --text-color: #111111;
}
body {
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin: 0;
}
main {
  width: 70%;
}
header {
  background-color: var(--header-color);
  height: 3rem;
  width: 100%;
}
label {
  font-size: 1.2rem;
  margin-left: 1rem;
}
input {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 100%;
}
