body {
    background-color: #E5E3D6;
}

.email {
  background-color: #CCC3B4;
  min-height: 70px;
  width: 600px;
  margin: 0 auto;
  margin-top: 15em;
}

.email input {
    font-size: 20px;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-left: 45px;
    margin-top: 7px;
    border-radius: 10px;
}

.email.invalid {
    background-color: #990000;
}

.email span {
    margin-top: 10px;
    font-family: arial;
    color: #990000;
    width: 100%;
    text-align: center;
    display: none;
}

.email.invalid span {
    display: block;
}
#guests-email {
    margin-top: 1em;
}
#proposal {
    background-color: white;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius:10px;
    font-family: arial;
    padding: 10px;
    color: #666666;
    text-align: justify;
}
